<h1>Pedido #<%= @item.id %></h1>

<table class="table">
  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @column_titles.each do |titles| %>
      <td><%= eval("@item.#{titles}") %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', "#{@item.id}/edit",
					class: 'btn btn-primary' %>
<%= render 'template/back_button' %>