<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<% end %>

<h1>Itens do pedido #<%= params[:order_id] %></h1>

<table class="table">
	<thead>
		<tr>
			<% @columns.each do |column| %>
				<th><%= column %></th>
			<% end %>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @items.each do |item| %>
			<tr>
				<% @column_titles.each do |titles| %>
					<td><%= item.send(titles) %></td>
				<% end %>
				<td>
					<%= link_to 'Editar', edit_order_order_item_path(@order, item),
											class: 'btn btn-primary' %>
				</td>
				<td>
					<%= link_to 'Excluir', order_order_item_path(@order, item),
											method: :delete,
											data: {confirm: 'Deseja excluir este item?'},
											class: 'btn btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Adicionar item', new_order_order_item_path , class: 'btn btn-info' %>

<br>
<br>

<%= link_to 'Voltar', orders_path, class: 'btn btn-secondary' %>